<!DOCTYPE html>
<html>
<head>
    <title>About Us</title>
    <link rel="stylesheet" type="text/css" href="/static/styles.css">

</head>
<body>
    <div class="content">
        <h1>About Us</h1>

        <p>Welcome to NutriScan, your ultimate nutrition companion in the modern world. In today's fast-paced lifestyle, maintaining a healthy diet can often feel like an uphill battle. With NutriScan, we aim to simplify this process by providing you with instant access to accurate nutrition information, empowering you to make informed dietary choices effortlessly.</p>
        <br>
        <div class="benefit-item">
            <h2 class="benefit-heading">Benefits for Users:</h2>
            <p>
                <strong>1. Instant Nutrition Analysis:</strong> With NutriScan, you can obtain detailed nutrition information from food labels within seconds.
            </p>
            <p>
                <strong>2. Categorized Nutrition Scores:</strong> We utilize advanced algorithms to categorize nutrition data and provide you with a comprehensive nutrition score.
            </p>
            <p>
                <strong>3. Personalized Recommendations:</strong> NutriScan offers personalized recommendations based on your dietary preferences, health goals, and nutritional requirements.
            </p>
            <p>
                <strong>4. Favorites and History Tracking:</strong> Easily keep track of your favorite food items and view your browsing history within the app.
            </p>
            <p>
                <strong>5. On-the-Go Convenience:</strong> Designed with convenience in mind, NutriScan lets you access nutrition information anytime, anywhere.
            </p>
        </div>

        <p>Our mission at NutriScan is to empower individuals to make healthier food choices by providing instant access to accurate nutrition information. We believe that by simplifying the process of evaluating food labels and offering personalized recommendations, we can help you achieve your health and wellness goals more effectively.</p>
        <br>
        
        <p style="font-size: 16px; color: #00796b;">
            <strong>Join us on this journey towards a healthier lifestyle with NutriScan!</strong>
        </p>
    </div>
</body>

</html>
